@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero_bg{
    background: #307D99 url('/images/mae-mu-8Vh6ulKc50o-unsplash.jpg');
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

header{
    padding: 1em 0;
}

.hero_bg a{
color: white;
text-decoration: none;
font-weight: bold;
font-size: 1.2rem;
}